.links-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 384px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.links-social__item {
  width: 176px;
  height: 176px;
  display: block;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  border: 1px solid #1cf1a4;
  box-shadow: 0 1px 10px 1px #1cf1a3;
  padding: 13px;
  
  * {
    display: none;
  }
}

.links-social__tg {
  background: url("../img/links-social__tg.png") no-repeat center;
  background-size: 100% auto;
}

.links-social__wp {
  background: url("../img/links-social__wp.png") no-repeat center;
  background-size: 100% auto;
}


@media (max-width: 991.98px) {
  .links-social {
    max-width: 483px;
  }

  .links-social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 70px;

    * {
      display: block;
    }

    span {
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      color: #FFFFFF;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .links-social__tg {
    background: initial;
    border: 1px solid #27A3D7;
    box-shadow: 0 1px 10px 1px #00A0FF;
    border-radius: 5px;

    i {
      background: url("../img/telegram-btn.svg") no-repeat center;
      background-size: 100% auto;
      width: 34px;
      height: 34px;
      display: block;
      margin-right: 40px;
    }
  }

  .links-social__wp {
    background: initial;
    border: 1px solid #1CF1A4;
    box-shadow: 0 1px 10px 1px #1CF1A3;
    border-radius: 5px;

    i {
      background: url("../img/whatsapp-btn.svg") no-repeat center;
      background-size: 100% auto;
      width: 34px;
      height: 34px;
      display: block;
      margin-right: 34px;
    }
  }
}

@media (max-width: 767.98px) {
  .links-social {
    margin-top: 30px;
    max-width: 144px;
  }

  .links-social__item {
    width: 62px;
    height: 52px;
    justify-content: center;
    align-items: center;

    span {
      display: none;
    }

    i {
      margin-right: 0;
    }
  }
}