.mobile-device__wrapper {
  background: url("../img/mobile-device.png") no-repeat center;
  background-size: 100% auto;
  width: 297px;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 82px;
  padding-bottom: 65px;
  position: relative;
  z-index: 1;
  margin-left: 187px;

  &:after {
    content: '';
    background: url("../img/chip-05.png") no-repeat center;
    background-size: 100% auto;
    width: 238px;
    height: 161px;
    display: block;
    position: absolute;
    bottom: 32px;
    left: -93px;
    z-index: 2;
  }
}

.mobile-device {
  position: relative;

  &:before {
    content: '';
    width: 1033px;
    height: 869px;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/mobile-device-bg.png") no-repeat center;
    background-size: 100% auto;
  }
}

.mobile-device__logo {
  background: url("../img/Pi-Xiu-Ai-Poker.svg") no-repeat center;
  background-size: 100% auto;
  width: 52px;
  height: 52px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mobile-device__subTitle {
  font-weight: 600;
  font-size: rem(24);
  text-align: center;
  color: $white;
}

.mobile-device__text {
  font-size: rem(12);
  text-align: center;
  color: $font-color-2;
}

@media (max-width: 1199.98px) {
  .mobile-device__wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-device:after {
    left: -20px;
  }

  .mobile-device:before {
    left: 26%;
  }
}

@media (max-width: 991.98px) {
  .mobile-device__wrapper {
    width: 230px;
    height: 466px;
  }

  .mobile-device {
    &:before {
      background: url("../img/mobile-device-bg-MOB2.png") no-repeat center;
      background-size: 100% auto;
      width: 785px;
      height: 869px;
      left: 50%;
      top: 60%;
    }
  }

  .mobile-device__wrapper:after {
    width: 180px;
    left: -77px;
    bottom: 15px;
  }
}

@media (max-width: 767.98px) {

  .mobile-device__wrapper {
    width: 156px;
    height: 316px;
    padding-top: 55px;
    padding-bottom: 30px;
  }

  .mobile-device__subTitle {
    font-size: 14px;
  }

  .mobile-device__text {
    font-size: 8px;
  }

  .mobile-device__wrapper:after {
    width: 84px;
    height: 87px;
    right: auto;
    left: -40px;
    bottom: 25px;
  }

  .mobile-device:before {
    background: url("../img/mobile-device-bg-MOB.png") no-repeat;
    background-size: 100% auto;
    width: 650px;
    height: 575px;
    left: 54%;
    top: 51%;
  }

  .mobile-device__logo {
    width: 30px;
    height: 30px;
  }
}