.section-ninth {
  padding-bottom: 160px;
}

.section-ninth__block-title {
  font-weight: bold;
  font-size: rem(18);
  line-height: rem(27);
  text-align: center;
  color: $white;
  margin-top: 30px;
  display: block;
}

.section-ninth__wrapper {

  .h2 {
    margin-bottom: 78px;
  }
}

.section-ninth__block-wrapper {
  height: 323px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 21px;
  position: relative;

  img {
    width: auto;
    max-width: 100%;
  }
}

.section-ninth__block-margin {
  margin-left: 11px;
  margin-right: 11px;
}

@media (max-width: 1199.98px) {
  .section-ninth__block-wrapper {
    height: 290px;
  }
}

@media (max-width: 991.98px) {
  .section-ninth__block-wrapper {
    height: auto;

    img {
      width: auto;
    }
  }
}

@media (max-width: 767.98px) {
  .section-ninth__wrapper .h2 {
    margin-bottom: 37px;
  }

  .section-ninth__block {
    margin-bottom: 50px;
  }

  .section-ninth__block-wrapper {
    padding-bottom: 0;
  }

  .section-ninth {
    padding-bottom: 30px;
  }
}