.section-first {
  padding-bottom: 240px;

  .container {
    position: relative;
  }

  &__title {
    font-size: rem(64);
    line-height: rem(76);
    color: $white;
    font-weight: bold;
    position: relative;
    margin-bottom: 16px;

    &:before {
      content: '';
      position: absolute;
      width: 117px;
      height: 3px;
      background: linear-gradient(to right, #3ECE90 25%, #21AAFC 75%);
      top: 113px;
      right: 87px;
    }
  }

  &__subTitle {
    font-size: rem(30);
    line-height: rem(46);
    color: $white;
    display: block;
    margin-bottom: 8px;
  }

  &__infoText {
    color: $secondary;
    font-size: rem(20);
    line-height: rem(50);
    display: block;
  }

  &__list {
    padding-left: 0;
    list-style-type: none;
  }

  &__list-text {
    font-weight: bold;
    font-size: rem(18);
    line-height: rem(36);
    color: $white;
    margin-bottom: 0;

    span {
      color: $color1;
    }
  }

  &__item {
    position: relative;
    padding-left: 34px;

    &:before {
      content: '';
      position: absolute;
      background: url("../img/check-icon-list.svg") no-repeat center;
      background-size: 100% auto;
      width: 14px;
      height: 11px;
      display: block;
      top: 13px;
      left: 0;
    }
  }
}

@media (max-width: 991.98px) {
  .section-first {
    padding-bottom: 90px;
  }

  .section-first__title {
    font-size: rem(48);
    line-height: rem(60);
  }

  .section-first__subTitle,
  .section-first__infoText  {
    font-size: rem(24);
  }
}

@media (max-width: 767.98px) {
  .section-first__title {
    font-size: rem(30);
    line-height: rem(40);
    text-align: center;
  }

  .section-first__subTitle {
    font-size: rem(18);
    line-height: rem(30);
    text-align: center;
  }

  .section-first__infoText {
    font-size: rem(14);
    line-height: rem(40);
    text-align: center;
  }

  .section-first__title:before {
    display: none;
  }

  .section-first__wrapper {
    position: relative;
    z-index: 100;
  }

  .section-first__list {
    width: 185px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-first {
    padding-bottom: 51px;
  }

}