.section-fifth {
  padding-top: 100px;
  padding-bottom: 170px;

  .container {
    position: relative;
  }
}

.section-fifth__imgWrapper {
  padding-top: 166px;
  position: relative;

  img {
    z-index: 1;
    width: 100%;
    position: relative;
  }

  &:before {
    content: '';
    position: absolute;
    background: url("../img/section-fifth__imgWrapper-bg.png") no-repeat center;
    background-size: 100% auto;
    width: 1238px;
    height: 1093px;
    top: -137px;
    left: -176px;
  }
}

.section-fifth__wrapperContent {
  margin-top: 230px;
  margin-left: 37px;
  position: relative;
  z-index: 1;

  .h2 {
    margin-bottom: 42px;
    display: block;
  }
}

.section-fifth__titleMob {
  display: none;
}

@media (max-width: 991.98px) {
  .section-fifth__imgWrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;

    img {
      width: 330px;

    }
  }

  .section-fifth {
    padding-top: 30px;
  }

  .section-fifth__wrapperContent {
    margin-top: 0;
  }

  .section-fifth__imgWrapper:before {
    background: url(../img/section-fifth__imgWrapper-bg-MOB2.png) center/100% auto no-repeat;
    width: 800px;
    height: 1093px;
    top: -353px;
    left: -176px;
  }

}

@media (max-width: 767.98px) {
  .section-fifth__titleMob {
    display: block;
  }

  .section-fifth__imgWrapper{
    justify-content: center;

    img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      display: flex;
      flex: 1;
      margin-left: auto;
      margin-right: auto;
      position: static;
    }
  }

  .section-fifth__imgWrapper:before {
    background: url("../img/section-fifth__imgWrapper-bg-MOB.png") no-repeat center;
    background-size: 100% auto;
    width: 552px;
    height: 425px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    top: -50px;
  }

  .section-fifth__wrapperContent {
    margin-top: 24px;
    margin-left: 0;
    
    .h2 {
      display: none;
    }
    
    .main-text {
      text-align: center;
    }
  }

  .section-fifth {
    padding-bottom: 73px;
  }

  .section-fifth__imgWrapper {
    padding-top: 0;
  }
}